:root {
  --color-primary-regular: #455a64;
  --color-primary-light: #718792;
  --color-primay-dark: #1c313a;
  --font-color-over-light: #000000;
  --font-color-over-dark: #ffffff;
}

.bg-color-regular {
  background-color: var(--color-primary-regular);
}

.bg-color-light {
  background-color: var(--color-primary-light);
}

.bg-color-dark {
  background-color: var(--color-primary-dark);
}

.font-over-dark {
  color: var(--font-color-over-dark);
}

.font-over-light {
  color: var(--font-color-over-light);
}
